@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Oswald:wght@700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.all-maps{
   width: 100%; 
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: 	#ece8e3;
   padding: 0 20px;
}

.container-maps{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
}

.section-maps{
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
}

.title-map{
   font-size:76px;
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   text-align: center;
   font-weight: 900;
   letter-spacing: -2px;
   color: #ff283a;
   text-shadow: 2px 8px 12px rgba(81, 0, 0, 0.4);
}

.subtitle-maps {
   font-size: 34px;
   font-family: 'Oswald', sans-serif;
   color: #555;
   margin-bottom: 10px;
   text-align: center;
}
 
.description-maps {
   width: 650px;
   font-size: 20px;
   font-family: "Afacad Flux", sans-serif;
   color: #555;
   margin: 0 10px 0 0;
   text-align: center;
}

 
.img-maps{
   width: 90%;
   margin-left: 30px;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
 
.btn-maps {
   padding: 20px 40px;
   background-color: #ff283a;
   color: white;
   font-size: 20px;
   font-family: 'VALORANT', sans-serif;
   text-align: center;
   cursor: pointer;
   transition: all 0.4s ease;
   width: fit-content;
   text-decoration: none;
   display: block; 
   margin: 30px auto; 
   position: relative;
   overflow: hidden;
   z-index: 1;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.btn-maps:hover {
   transform: scale(1.1); 
   box-shadow: 0 0 15px #333;
   background-color: #333;
}

.btn-maps::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 300%;
   height: 300%;
   transition: width 0.4s ease, height 0.4s ease, top 0.4s ease, left 0.4s ease, background-color 0.4 ease;
   border-radius: 50%;
   z-index: -1; 
   transform: translate(-50%, -50%);
}

.btn-maps:hover::before {
   width: 120%;
   height: 120%;
   top: 50%;
   left: 50%;
   background-color: #333;
}

@media (max-width: 480px) {
   .all-maps {
      padding: 20px 10px; 
   }

   .container-maps {
      flex-direction: column; 
   }

   .title-map {
      font-size: 36px; 
   }

   .subtitle-maps {
      font-size: 24px; 
   }

   .description-maps {
      font-size: 16px;
   }

   .img-maps {
      margin-left: 0; 
      width: 100%; 
   }

   .btn-maps {
      padding: 15px 30px; 
      font-size: 18px; 
   }
}

@media (max-width: 768px) {
   .all-maps {
      height: auto;
   }

   .container-maps {
      flex-direction: column; 
      align-items: center; 
   }

   .section-maps {
      width: 100%; 
   }

   .title-map {
      font-size: 56px; 
   }

   .subtitle-maps {
      font-size: 28px; 
   }

   .description-maps {
      font-size: 18px; 
   }

   .img-maps {
      width: 90%; 
   }

   .btn-maps {
      padding: 15px 30px; 
      font-size: 18px;
   }
}

@media (max-width: 1024px) {
   .all-maps {
      height: auto; 
      padding: 20px; 
   }

   .container-maps {
      flex-direction: column; 
      align-items: center; 
   }

   .section-maps {
      width: 90%; 
   }

   .title-map {
      font-size: 60px; 
   }

   .subtitle-maps {
      font-size: 26px;
   }

   .description-maps {
      font-size: 18px; 
      width: 80%; 
   }

   .img-maps {
      width: 100%; 
      margin-left: 0;
   }

   .btn-maps {
      padding: 15px 30px; 
      font-size: 18px; 
      margin: 20px auto; 
   }
}
